.cij-col{float:left;width:100%}
.cij-col.s1{width:8.33333%}.cij-col.s2{width:16.66666%}.cij-col.s3{width:24.99999%}.cij-col.s4{width:33.33333%}
.cij-col.s5{width:41.66666%}.cij-col.s6{width:49.99999%}.cij-col.s7{width:58.33333%}.cij-col.s8{width:66.66666%}
.cij-col.s9{width:74.99999%}.cij-col.s10{width:83.33333%}.cij-col.s11{width:91.66666%}.cij-col.s12{width:99.99999%}
@media (min-width:601px){
.cij-col.m1{width:8.33333%}.cij-col.m2{width:16.66666%}.cij-col.m3{width:24.99999%}.cij-col.m4{width:33.33333%}
.cij-col.m5{width:41.66666%}.cij-col.m6{width:49.99999%}.cij-col.m7{width:58.33333%}.cij-col.m8{width:66.66666%}
.cij-col.m9{width:74.99999%}.cij-col.m10{width:83.33333%}.cij-col.m11{width:91.66666%}.cij-col.m12{width:99.99999%}
}
@media (min-width:993px){
.cij-col.l1{width:8.33333%}.cij-col.l2{width:16.66666%}.cij-col.l3{width:24.99999%}.cij-col.l4{width:33.33333%}
.cij-col.l5{width:41.66666%}.cij-col.l6{width:49.99999%}.cij-col.l7{width:58.33333%}.cij-col.l8{width:66.66666%}
.cij-col.l9{width:74.99999%}.cij-col.l10{width:83.33333%}.cij-col.l11{width:91.66666%}.cij-col.l12{width:99.99999%}
}

.cij-row:after,.cij-row:before {content:"";display:table;clear:both}

.cij-card,.cij-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.cij-card-4{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.cij-round-small{border-radius:2px}.cij-round,.cij-round-medium{border-radius:4px}.cij-round-large{border-radius:8px}.cij-round-xlarge{border-radius:16px}.cij-round-xxlarge{border-radius:32px}
.cij-margin{margin:16px!important}.cij-margin-top{margin-top:16px!important}.cij-margin-bottom{margin-bottom:16px!important}
.cij-white,.cij-hover-white:hover{color:#000!important;background-color:#fff!important}